@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@theme{
  --font-display: "Poppins", serif;
  --font-script : "Dancing Script", serif;
}

*{
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}


.dancing-script {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.mulish{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* Swiper */
.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 486px!important;
  border-radius: 10px;
  padding: 30px;
}


.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}
